/* Container for the selector dropdown/panel */
.customGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 11rem;
  padding: 0.5rem;
  font-size: 14px;
}

.selectorInput {
  display: none;
}

.groupLabel {
  color: #434367;
  margin: 0;
  font-weight: 300;
}

/* Base button styling for checked options */
.checkedOption {
  background-color: #2f2f49;
  display: flex;
  justify-content: space-between;
  margin: 0 0.25rem;
  border-radius: 10px;
}

.uncheckedOption,
.checkedOption {
  padding: 0.5em;
  cursor: pointer;
}

.uncheckedOption:hover,
.checkedOption:hover {
  background: #3c3b5d;
  border-radius: 10px;
}

hr {
  width: 90%;
  border: 1px solid #434367;
  border-bottom-width: 0px;
  margin: 0.5rem 0.5rem -0.5rem;
}
